<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="https://jakarta.ee/xml/ns/jakartaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd"
         version="6.0">
    <servlet>
        <servlet-name>MyCalculator</servlet-name>
        <servlet-class>edu.kirkwood.java2ee_demo.MyCalculator</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>MyCalculator</servlet-name>
        <url-pattern>/my-calculator</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>TempConverter</servlet-name>
        <servlet-class>edu.kirkwood.java2ee_demo.TempConverter</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>TempConverter</servlet-name>
        <url-pattern>/temp-converter</url-pattern>
    </servlet-mapping>

</web-app>
